.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.post-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.post-card {
  flex: 0 1 calc(33.33% - 20px); 
  margin: 0 10px 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.post-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.post-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-buttons button {
  margin: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination span {
  font-weight: bold;
  margin: 0 10px;
}

.no-posts-found {
  color: #dc3545;
  font-weight: bold;
  margin: 10px;
}

.post-buttons button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.post-buttons button:hover {
  background-color: #0056b3;
}

.post-buttons .btn-danger {
  background-color: #dc3545;
}

.post-buttons .btn-danger:hover {
  background-color: #c82333;
}
